name: ci-wordpress

# ----------------------------------------------------------------------------------------------------------
# CI Pipeline for deploy wordpress to shared hosting by ansistrano ansible role
#
# Original Author: Rostislav Udaltsov
# Created: 09/19/2023
# ----------------------------------------------------------------------------------------------------------

on:
  workflow_call:
    inputs:
      # Build configuration
      host:
        required: true
        type: string
        description: 'The address of the server'
      username:
        type: string
        required: true
        description: 'The linux OS username for connect to server via ssh'
      environment:
        required: true
        type: string
        description: 'The environment'
      playbook_path:
        required: true
        type: string
        description: 'The path to the file relative to the repository from which the deployment is made'
      deploy_path:
        required: true
        type: string
        description: 'The path to deploy on the server'
      deploy_repo:
        required: true
        type: string
        description: 'The repository for deploy'
      deploy_branch:
        required: true
        type: string
        description: 'The branch for deploy'
      python_version:
        required: true
        type: number
        description: 'Specify the current version of Python to install the current version of ansible'
      runner:
        required: false
        type: string
        default: saritasa-rocks-eks
        description: 'The runner on which workflow is running'
    # Secrets for ssh
    secrets:
      ssh_private_key:
        required: true
        description: 'The private key for connect to server via ssh'

jobs:
  deploy:
    runs-on: ${{ inputs.runner }}

    steps:
      # Preparing workspace: install python, ansible and ansistrano-role
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: ${{ inputs.PYTHON_VERSION }}

      - name: Install Ansible
        run: |
          pip install ansible requests jinja2

      - name: Install Ansistrano roles
        run: |
          ansible-galaxy install ansistrano.deploy

      # Adding private-key to ssh-agent
      - name: Set up ssh-agent
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # Adding server ip to known_hosts
      - name: Update known_hosts
        run: |
          ssh-keyscan -H ${{ inputs.HOST }} >> ~/.ssh/known_hosts

      # Deploy the project
      - name: Ansistrano deploy
        env:
          # Environment variables for ansible must be in uppercase
          # This setting controls the default policy of fact gathering (facts discovered about remote systems).
          # This option can be useful for those wishing to save fact gathering time. Both ‘smart’ and ‘explicit’ will use the cache plugin.
          # Disabling the assembly of system information to speed up the workflow (See https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_GATHERING)
          ANSIBLE_GATHERING: 'smart'
          # We increase the performance of the pipeline (See https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-pipelining)
          ANSIBLE_PIPELINING: True
          ANSIBLE_REMOTE_USER: ${{ inputs.USERNAME }}
        run: |
          ansible-playbook -i \
          ${{ inputs.HOST }}, \
          ${{ inputs.PLAYBOOK_PATH }} \
          --extra-vars \
          'ansistrano_release_version=$(date -u +%Y-%m-%d-%H%M%SZ) \
           deploy_path=${{ inputs.DEPLOY_PATH }} \
           deploy_repo=${{ inputs.DEPLOY_REPO }} \
           deploy_branch=${{ inputs.DEPLOY_BRANCH }}'
